<div class="grid grid-cols-2" [formGroup]="roadMapFormGroup">
  <ng-container [ngSwitch]="mode">
    <h1 *ngSwitchCase="'idle'">{{ roadMap.name }}</h1>
    <mat-form-field *ngSwitchCase="'edit'" appearance="outline">
      <mat-label>Название дорожной карты</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
  </ng-container>
  <ng-container [ngSwitch]="isOwnerRoadMap">
    <div
      *ngSwitchCase="true"
      class="flex flex-row items-center gap-x-4 justify-self-end">
      <button
        [ngSwitch]="mode"
        [disabled]="(mode === 'edit' && roadMapFormGroup.invalid) || loading"
        mat-fab
        extended
        (click)="toggleMode()">
        <mat-icon *ngSwitchCase="'idle'">edit</mat-icon>
        <mat-icon *ngSwitchCase="'edit'">save</mat-icon>
        <ng-container *ngSwitchCase="'idle'">Редактировать</ng-container>
        <ng-container *ngSwitchCase="'edit'">Сохранить</ng-container>
      </button>
      <button mat-fab extended color="warn" (click)="deleteRoadMap()">
        <mat-icon>delete</mat-icon>
        Удалить
      </button>
    </div>

    <button *ngSwitchCase="false" mat-fab extended class="justify-self-end">
      <mat-icon>favorite_outline</mat-icon>
      Подписаться
    </button>
  </ng-container>

  <ng-container [ngSwitch]="mode">
    <p *ngSwitchCase="'idle'" class="col-span-2">
      {{ roadMap.shortDescription }}
    </p>
    <mat-form-field
      *ngSwitchCase="'edit'"
      class="col-span-2"
      appearance="outline">
      <mat-label>Краткое описание дорожной карты</mat-label>
      <textarea matInput formControlName="shortDescription" required></textarea>
    </mat-form-field>
  </ng-container>
</div>
