<div
  class="container mx-auto grid grid-cols-[380px_1fr] gap-x-8 py-4 lg:w-full">
  <aside *ngIf="categories$ | async as categories" class="w-80">
    <mat-list>
      <mat-list-item (click)="selectCategory(undefined)">
        <h2>Все категории</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item
        (click)="selectCategory(category)"
        *ngFor="let category of categories">
        <span [ngClass]="{'font-medium': selectedCategory === category.id}">
          {{ category.name }}
        </span>
      </mat-list-item>
    </mat-list>
  </aside>

  <div
    *ngIf="posts$ | async as posts"
    [@listAnimation]="posts.length"
    class="flex flex-col gap-y-4">
    <div
      *ngIf="posts.length === 0"
      class="inline-block py-8 text-center align-middle text-lg font-medium">
      В выбранной категории пока нет постов
    </div>
    <app-post-card
      *ngFor="let post of posts"
      [post]="post"
      [userId]="userId$ | async"></app-post-card>
  </div>
</div>
