<div class="container">
  <div *ngIf="categories$ | async as categories" class="list-categories">
    <mat-list>
      <mat-list-item (click)="selectCategory(undefined)">
        <h2 class="category-item">Все категории</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let category of categories" (click)="selectCategory(category)">
        <span class="category-item">{{category.name}}</span>
      </mat-list-item>
    </mat-list>
  </div>

  <div *ngIf="posts$ | async as posts" [@listAnimation]="posts.length" class="list-container">
    <div *ngIf="posts.length === 0" class="no-posts">Здесь пока нет постов</div>
    <app-post-card
      *ngFor="let post of posts"
      [post]="post"
      [userId]="userId$ | async"></app-post-card>
  </div>
</div>
