.container {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  height: 100%;
  margin-left: 12.5%;
  padding-bottom: 0;
}

.list-container {
  overflow-y: auto;

  max-width: 680px;
  height: calc(100% - 64px);
  margin-right: 17%;
  margin-left: 7%;
  padding: 16px 0;
}

.list-categories {
  max-width: 300px;
  padding: 0;
}
