<form
  [formGroup]="formGroup"
  class="container mx-auto py-4 md:w-full md:px-2 lg:w-4/6">
  <input
    autofocus
    formControlName="title"
    placeholder="Заголовок"
    type="text"
    class="w-full border-none text-4xl outline-none placeholder:text-gray-200" />
  <div id="editorjs" class="w-full"></div>
  <mat-form-field class="w-full">
    <mat-label>Категория статьи</mat-label>
    <mat-select formControlName="category">
      <mat-option
        *ngFor="let category of categories$ | async"
        [value]="category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    (click)="saveEditorData()"
    [disabled]="formGroup.invalid"
    color="accent"
    class="w-full"
    mat-flat-button>
    <mat-icon>check</mat-icon>
    <span>Опубликовать</span>
  </button>
</form>
