<form [formGroup]="formGroup" class="container">
  <input
    autofocus
    class="input-header"
    formControlName="title"
    placeholder="Заголовок"
    type="text" />
  <div class="editor" id="editorjs"></div>
  <mat-form-field>
    <mat-label>Категория статьи</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    (click)="saveEditorData()"
    [disabled]="formGroup.invalid"
    class="save-button"
    color="accent"
    mat-flat-button>
    <mat-icon>check</mat-icon>
    <span>Опубликовать</span>
  </button>
</form>
