<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Электронная почта</mat-label>
        <input matInput placeholder="pat@example.com">
    </mat-form-field>
    <button mat-raised-button color="accent" class="new-button">Пригласить</button>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Лаврененко Илья</mat-card-title>
            <mat-card-subtitle>Моделирование в САПР</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button color="primary">Редактировать</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Толстиков Антон</mat-card-title>
            <mat-card-subtitle>Проектная деятельность</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button color="primary">Редактировать</button>
        </mat-card-actions>
    </mat-card>
</div>