<div class="category">
  <h2>Моделирование в САПР</h2>
  <mat-chip-listbox multiple="true">
    <mat-chip-option color="accent">Руководства</mat-chip-option>
    <mat-chip-option color="accent">Компас 3D</mat-chip-option>
    <mat-chip-option color="accent">NanoCAD</mat-chip-option>
  </mat-chip-listbox>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Моделирование в Компас 3D</mat-card-title>
      <mat-card-subtitle>Руководства, Компас 3D</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Сегодня мы научимся моделировать в Компас 3D, никому не советую.</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Моделирование в Nanocad</mat-card-title>
      <mat-card-subtitle>Руководства, NanoCAD</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Сегодня мы научимся моделировать в NanoCAD, никогда его не запускала.
      </p>
    </mat-card-content>
  </mat-card>
</div>
