<h1 mat-dialog-title>Редактирование модератора</h1>
<div mat-dialog-content>
  <p>Выбор категорий для модератора</p>
  <mat-form-field appearance="fill" class="field">
    <mat-label>Категории</mat-label>
    <mat-select [formControl]="categories" multiple>
      <mat-option *ngFor="let category of categoriesList"
                  [value]="category.id">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button (click)="this.dialogRef.close()" color="warn" mat-button>
    Отмена
  </button>
  <button [disabled]="categoriesList.length === 0 || categories.invalid"
          [mat-dialog-close]="categories.value"
          color="primary"
          mat-button
          type="submit">
    Сохранить
  </button>
</div>
