<div class="container mx-auto flex h-full flex-row">
  <div
    *ngIf="moderator$ | async as moderator"
    class="h-full w-1/4 shrink-0 p-4">
    <h1>Профиль модератора</h1>

    <ng-container *ngIf="moderator.user.avatar !== null; else noAvatar">
      <img
        [src]="moderator.user.avatar"
        alt="user avatar"
        class="mx-auto mb-6 w-64 rounded-full" />
    </ng-container>

    <ng-template #noAvatar>
      <img
        alt="user avatar placeholder"
        src="assets/no_avatar.webp"
        class="mx-auto mb-6 w-64 rounded-full" />
    </ng-template>

    <div class="mb-1 text-base">Имя: {{ moderator.user.firstName }}</div>
    <div class="mb-1 text-base">Фамилия: {{ moderator.user.lastName }}</div>
    <div class="mb-1 text-base">Логин: {{ moderator.user.login }}</div>
    <div class="mb-1 text-base">Email: {{ moderator.user.email }}</div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div *ngIf="moderator$ | async as moderator" class="grow overflow-auto p-4">
    <h1>Категории</h1>
    <div *ngIf="!moderator.mainAdmin && loggedUser?.mainAdmin">
      <a
        [routerLink]="['/admin', 'users']"
        color="accent"
        mat-flat-button
        class="mb-4">
        <mat-icon>add</mat-icon>
        <span>Добавить</span>
      </a>
    </div>
    <div>
      <div
        *ngIf="!moderator.mainAdmin; else admin"
        class="flex flex-col gap-y-4">
        <mat-card *ngFor="let category of moderator.categoriesAdmin">
          <mat-card-header>
            <mat-card-title>{{ category.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions align="end">
            <button
              (click)="deleteCategory(category, moderator)"
              mat-button
              *ngIf="loggedUser?.mainAdmin">
              Удалить
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <ng-template #admin>
        <div class="py-32 text-center text-2xl font-medium">
          Администратор базы знаний
        </div>
      </ng-template>
    </div>
  </div>
</div>
