.container {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  height: 100%;
  margin-right: 12%;
  margin-left: 12%;
  padding-bottom: 0;
}

.categories {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  box-sizing: border-box;
  height: 100%;
  padding: 16px 0 16px 16px;
}

mat-card {
  margin-top: 32px;
}

.list-container {
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
  margin-left: -16px;
}

.admin-info {
  padding-top: 24px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
