<div class="container mx-auto py-4">
  <mat-form-field class="w-5/6 pr-3">
    <mat-label>Новая категория</mat-label>
    <input [(ngModel)]="newCategoryName" matInput />
  </mat-form-field>
  <button
    class="w-1/6"
    (click)="addNewCategory()"
    [disabled]="newCategoryName.length === 0"
    color="accent"
    mat-raised-button>
    Создать
  </button>

  <ng-container *ngIf="categories$ | async as categories">
    <mat-card *ngFor="let category of categories" class="mb-4">
      <mat-card-header>
        <mat-card-title>{{ category.name }}</mat-card-title>
        <mat-card-subtitle>
          Количество модераторов:
          {{ category.moderatorsCount }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button (click)="openEditDialog(category)" color="primary" mat-button>
          Редактировать
        </button>
        <button color="warn" mat-button (click)="deleteCategory(category)">
          Удалить
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
