<div class="container">
  <mat-form-field class="example-full-width">
    <mat-label>Новая категория</mat-label>
    <input [(ngModel)]="newCategoryName" matInput />
  </mat-form-field>
  <button (click)="addNewCategory()"
          [disabled]="newCategoryName.length === 0"
          class="new-button"
          color="accent"
          mat-raised-button>
    Создать
  </button>

  <ng-container *ngIf="categories$ | async as categories">

    <mat-card *ngFor="let category of categories">
      <mat-card-header>
        <mat-card-title>{{category.name}}</mat-card-title>
        <mat-card-subtitle>Количество модераторов: {{category.moderatorsCount}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button class="card-button" color="primary" mat-button>
          Редактировать
        </button>
        <button class="card-button" color="warn" mat-button>Удалить</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

</div>
