<div class="container">
    <mat-form-field class="example-full-width">
        <mat-label>Новая категория</mat-label>
        <input matInput value="">
    </mat-form-field>
    <button mat-raised-button color="accent" class="new-button">Создать</button>


    <mat-card>
        <mat-card-header>
            <mat-card-title>Программирование</mat-card-title>
            <mat-card-subtitle>Количество модераторов: 2</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button color="primary" class="card-button">Редактировать</button>
            <button mat-button color="warn" class="card-button">Удалить</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Моделирование в САПР</mat-card-title>
            <mat-card-subtitle>Количество модераторов: 3</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button color="primary" class="card-button">Редактировать</button>
            <button mat-button color="warn" class="card-button">Удалить</button>
        </mat-card-actions>
    </mat-card>
</div>