.container {
  overflow-y: auto;

  box-sizing: border-box;
  max-width: 680px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
}

mat-form-field {
  width: 80%;
  margin-top: 16px;
}

.new-button {
  width: 18%;
  margin-left: 2%;
}

mat-card {
  margin-top: 16px;
}
