.toolbar-container {
  display: flex;
  justify-content: flex-end;
  width: 680px;
  margin: 0 auto;
}

.list-container {
  overflow-y: auto;
  max-width: 680px;
  height: calc(100% - 64px);
  margin: 0 auto;
}
