.link {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;

  font-size: 24px;
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
  height: calc(100vh - 64px);
  background-color: #f5f5f5;
}

.example-spacer {
  flex: 1 1 auto;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
