.container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  height: 100%;
  margin: auto;
  padding: 16px 0;
}

.input-header {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;

  font-family: inherit;
  font-size: 36px;

  border: none;
  outline: none;

  &::placeholder {
    color: #e8e8e8;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

.editor {
  overflow-x: visible;
  overflow-y: auto;
  flex-grow: 1;
}

.save-button {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 2px 8px;

  font-size: 18px;
}
