<div class="flex w-60 flex-col gap-y-4">
  <button mat-flat-button color="accent" *ngIf="isOwnerRoadMap">
    <mat-icon>add</mat-icon>
    Добавить
  </button>

  <cdk-tree
    [dataSource]="dataSource"
    [treeControl]="treeControl"
    class="divide-y divide-solid">
    <!-- Tree leaf template -->
    <cdk-nested-tree-node
      *cdkTreeNodeDef="let node"
      class="flex h-12 flex-row items-center text-gray-900 hover:font-medium">
      <a
        routerLink="."
        [queryParams]="{node: node.id}"
        routerLinkActive="font-medium">
        {{ node.title }}
      </a>
    </cdk-nested-tree-node>

    <!-- Tree node template -->
    <cdk-nested-tree-node
      *cdkTreeNodeDef="let node; when: hasChild"
      class="block">
      <div class="flex h-12 flex-row items-center">
        <button
          mat-icon-button
          cdkTreeNodeToggle
          [attr.aria-label]="'Toggle ' + node.title">
          <mat-icon
            [class.expand-more__expanded]="treeControl.isExpanded(node)"
            class="expand-more">
            expand_more
          </mat-icon>
        </button>

        <a
          routerLink="."
          [queryParams]="{node: node.id}"
          routerLinkActive="font-medium"
          class="text-gray-900 hover:font-medium">
          {{ node.title }}
        </a>
      </div>

      <div
        [class.tree-invisible]="!treeControl.isExpanded(node)"
        class="divide-y divide-solid ps-12">
        <ng-container cdkTreeNodeOutlet></ng-container>
      </div>
    </cdk-nested-tree-node>
  </cdk-tree>
</div>
