<div class="container mx-auto flex h-full flex-row">
  <div *ngIf="user$ | async as user" class="h-full w-1/4 shrink-0 p-4">
    <h1>Информация о профиле</h1>

    <ng-container *ngIf="user.avatar !== null; else noAvatar">
      <img
        [src]="user.avatar"
        alt="user avatar"
        class="mx-auto mb-6 w-64 rounded-full" />
    </ng-container>
    <ng-template #noAvatar>
      <img
        alt="user avatar placeholder"
        class="mx-auto mb-6 w-64 rounded-full"
        src="assets/no_avatar.webp" />
    </ng-template>
    <div class="mb-1 text-base">Имя: {{ user.firstName }}</div>
    <div class="mb-1 text-base">Фамилия: {{ user.lastName }}</div>
    <div class="mb-1 text-base">Логин: {{ user.login }}</div>
    <div class="mb-1 text-base">Email: {{ user.email }}</div>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <div *ngIf="user$ | async as user" class="grow overflow-auto p-4">
    <h1>Статьи профиля:</h1>
    <a color="accent" mat-flat-button routerLink="/new" class="mb-4">
      <mat-icon>add</mat-icon>
      <span>Создать</span>
    </a>
    <div *ngIf="posts$ | async as posts" class="flex flex-col gap-y-4">
      <app-post-card
        *ngFor="let post of posts"
        [post]="post"
        [userId]="user._id"></app-post-card>
    </div>
  </div>
</div>
