@tailwind base;
@tailwind components;
@tailwind utilities;

.ce-toolbar,
.ce-block {
  &__content {
    max-width: unset;
  }
}

.codex-editor {
  &__redactor {
    padding-bottom: 0 !important;
  }
}

.mdc-notched-outline {
  &__notch {
    border: none;
  }
}
