@tailwind base;
@tailwind components;
@tailwind utilities;

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.mdc-notched-outline__notch {
  border: none;
}
