<div class="register-container">
  <form [formGroup]="registerForm" class="register-form">
    <h1>Регистрация</h1>

    <mat-form-field appearance="outline" class="register-form_input">
      <mat-label>Имя</mat-label>
      <input formControlName="firstName" matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="register-form_input">
      <mat-label>Фамилия</mat-label>
      <input formControlName="lastName" matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="register-form_input">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="register-form_input">
      <mat-label>Логин</mat-label>
      <mat-hint>
        Логин должен содержать латинские символы и цифру (но не начинаться с
        неё)
      </mat-hint>
      <input formControlName="login" matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="register-form_input">
      <mat-label>Пароль</mat-label>
      <input
        [type]="isVisible ? 'text' : 'password'"
        formControlName="password"
        matInput />
      <mat-hint>
        Пароль должен содержать не менее 8 знаков, включать минимум 1 заглавную
        букву и спецсимвол
      </mat-hint>
      <button (click)="toggleVisible()" mat-icon-button matSuffix>
        <mat-icon>{{ isVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      (click)="registerUser()"
      [disabled]="registerForm.invalid"
      class="register-form_button"
      color="primary"
      mat-flat-button>
      Зарегистрироваться
    </button>
    <a class="register-form_button" mat-stroked-button routerLink="/login">
      Уже есть аккаунт? Войдите!
    </a>
  </form>
</div>
