<div class="container-list">
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Руководства, Компас 3D</mat-card-subtitle>
            <mat-card-title>Моделирование в САПР</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Эх, как же хочется серенькую, безтекстурную, не очень полигональную, эскизную, несглаженную, с тонкими
                ребрами жесткости, небольшими фасками, лохушку без чертежей и сборок, чтобы зашёл к ней в сцену, но
                ничего не ломал по возможности, дабы вместе с ней
                изолироваться от неприятного социума.
            </p>
            <mat-divider></mat-divider>
            <mat-card-subtitle>Количество публикаций: 2</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Руководства, C#, JS</mat-card-subtitle>
            <mat-card-title>Программирование</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Жестко наверстала
            </p>
            <mat-divider></mat-divider>
            <mat-card-subtitle>Количество публикаций: 4</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Руководства, VR Concept, Сборная WodldSkills</mat-card-subtitle>
            <mat-card-title>Проектная деятельность</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Как же хочется обратно в проектную деятельность с их 72 часами работы 😢
            </p>
            <mat-divider></mat-divider>
            <mat-card-subtitle>Количество публикаций: 1</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>