.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

.title-container {
  width: 650px;
  margin: 0 auto;
  padding: 36px 0;

  .title {
    margin: 0;
    font-size: 36px;
  }
}

.editor {
  overflow-x: visible;
  overflow-y: auto;
  flex-grow: 1;
}
